.color-clock {
    display: block;
    font-family: sans-serif;
    text-align: center;
    padding: 1em 2em;
    font-size: 2em;
}

body {padding:0; margin:0;}

.content { padding: 1em; font-size: 1.2em;}
.example { margin-left: 1em; }
h1, h2 { font-family: sans-serif; }

.content .color-clock { width:25%; }
#example1 .color-clock { color: white; }
#example2 .color-clock { }
#example3 .color-clock { border: 1px solid black; }