.color-clock {
    display: block;
    font-family: sans-serif;
    text-align: center;
    padding: 1em 2em;
    font-size: 2em;
    margin-bottom:0.5em;
}

.markdown-body{ padding: 1em; font-size: 1.2em; width:75%; margin: 0px auto;}
.markdown-body .color-clock { width:30%; }

#example1 .color-clock { color: white; }
#example3 .color-clock { border: 1px solid black; }